{% extends 'base.html.twig' %}

{% block title %}Kilometers{% endblock %}

{% block body %}
<style>
    .form-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

    #kilometer_form_totalKm {
      pointer-events: none;
      border: none;
      outline: none;
      opacity: 0;
    }
</style>

<div class="form-wrapper">
    <h1>Welkom {{app.user.firstname}}</h1>
    <h2>Geef je gereden kilometers in</h2>
{{ form_start(form) }}
    {{ form_row(form.date, {
            label: 'Datum '
    }) }}
    {{ form_row(form.startKm, {
            label: 'Begin kilometerstand '
    }) }}
    {{ form_row(form.endKm, {
            label: 'Eind kilometerstand '
    }) }}
    {{ form_row(form.totalKm, {
            label: 'Totale gereden kilometers worden berekend bij inzending'
    }) }}

    <input type="submit" name="sendKm" value="Versturen">
{{ form_end(form) }}
</div>


{% endblock %}
