{% extends 'base.html.twig' %}

{% block title %}Kilometers{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    #totalkm {
      pointer-events: none;
      border: none;
      outline: none;
      font-size: 18px;
      font-family: sans-serif;
    }
</style>

<div class="example-wrapper">
    {% if firstname %}
      <h1>Welkom {{firstname}}</h1>
    {% else %}
      <h1>Welkom</h1>
    {% endif %}
    <h2>Geef je gereden kilometers in</h2>
{{ form_start(form) }}
    {{ form_row(form.date, {
            label: 'Datum'
    }) }}
    {{ form_row(form.startKm, {
            label: 'Begin kilometerstand'
    }) }}
    {{ form_row(form.endKm, {
            label: 'Eind kilometerstand'
    }) }}
    {{ form_row(form.totalKm, {
            label: 'Totale gereden kilometers (dit veld wordt automatisch berekend)'
    }) }}

    <input type="submit" name="sendKm" value="Versturen">
{{ form_end(form) }}

    <script>
    function calcKm(){
        const endKmField = document.querySelector("#kilometer_form_endKm");
        const startKmField = document.querySelector("#kilometer_form_startKm");
        const totalKmField = document.querySelector("#kilometer_form_totalKm");

        let totalCalcKm = endKmField.value - startKmField.value;

        totalKmField.value = totalCalcKm;

        console.log(totalCalcKm);
    }
    </script>
</div>


{% endblock %}
