{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Registreren</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstName, {
            label: 'Voornaam '
        })}}
        {{ form_row(registrationForm.lastName, {
            label: 'Naam'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Wachtwoord'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class='submit-button'>
        <button type="submit" class="c-link">Registreren</button>
        </div>
    {{ form_end(registrationForm) }}

    <div class="c-link--spacing">
        <p>Indien je al een account hebt:</p>
        <a href="{{ path('app_login') }}" class="c-link">Inloggen</a>
    </div>
</div>
{% endblock %}
